@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Josefin+Sans:ital,wght@0,300;1,300&display=swap");
body {
  font-family: "Amatic SC", cursive;
  background: #d4aca0;
  padding: 0;
  margin: 0;
}

/*header*/
.header {
  display: absolute;
  background: #49c8d2 100%;
  color: #eb7846;
  font-size: 60px;
  margin: 0;
  padding: 0;
  height: 30rem;
  /* background-image: url("../img/fotoheader.jpg");
  background-size: cover; */
}
.header h1 {
  margin: 0;
  text-align: center;
}
.header h2 {
  color: #4c3b35;
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
}

/* Menú */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 75px;
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  background-color: #9370DB;
  list-style-type: none;
}
nav a {
  text-decoration: none;
  color: #ffc300;
  font-size: 2.5rem;
  font-weight: 700;
}

.menu-inicio, .menu-podcast, .menu-cv, .menu-biblio {
  border-radius: 8px;
  width: 200px;
  text-align: center;
  transition: background-color color 0.3s ease-in-out;
}
.menu-inicio:hover, .menu-podcast:hover, .menu-cv:hover, .menu-biblio:hover {
  background-color: #49c8d2;
  color: #4c3b35;
  cursor: pointer;
}

/*Podcast*/
.podcast {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.caja:hover img {
  transform: scale(1.2);
}
.caja img {
  align-self: center;
  top: 35%;
  width: 67%;
  right: 0;
  left: 0;
  margin: 0 auto;
  border-radius: 25px;
  transition: transform 0.3s ease-out;
}

/*El Bombo de Karvala*/
.bombo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vw;
  width: 75vw;
  border-radius: 25px;
  margin: 0 0.5rem 2rem 0.5rem;
  cursor: pointer;
  background: #eb7846;
}
.bombo:hover {
  background-color: #b74514;
  transition: background-color 0.3s ease-out;
}
.bombo:hover img {
  border: solid #eb7846;
}

/*Hasta Aquí Puedo Ver*/
.hastaaqui {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vw;
  width: 75vw;
  border-radius: 25px;
  margin: 0 0.5rem 2rem 0.5rem;
  cursor: pointer;
  background: #49c8d2;
}
.hastaaqui:hover {
  background-color: #248991;
  transition: background-color 0.3s ease-out;
}
.hastaaqui:hover img {
  border: solid #49c8d2;
}

/*GE-AMPA Izartxo Podcast*/
.izartxo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vw;
  width: 75vw;
  border-radius: 25px;
  margin: 0 0.5rem 2rem 0.5rem;
  cursor: pointer;
  background: #ffc300;
}
.izartxo:hover {
  background-color: #cc9c00;
  transition: background-color 0.3s ease-out;
}
.izartxo:hover img {
  border: solid #ffc300;
}

@media (max-width: 480px) {
  nav {
    flex-direction: column;
    height: auto;
  }
}
@media (min-width: 480px) {
  .caja {
    height: 25rem;
    width: 25rem;
  }
}
@media (max-width: 480px) {
  .header {
    background-image: url("../img/fotoheader480px.jpg");
    background-size: cover;
    background-position: 30%;
  }
}
@media (min-width: 481px) {
  .header {
    background-image: url("../img/fotoheader.jpg");
    background-size: cover;
  }
}
@media (max-width: 480px) {
  .header {
    background-image: url("../img/fotoheader480px.jpg");
    background-size: cover;
    background-position: 30%;
  }
}
@media (max-width: 480px) {
  .header h1 {
    padding: 10rem 0 0 0;
  }
}
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
